<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <p>&copy; HELLO WORLD</p>
            </div>
            <div class="col-1">
                <a href="/about">ABOUT</a>
            </div>
            <div class="col-1">
                <a href="/contact">CONTACT</a>
            </div>
        </div>
    </div>
</footer>

</body>

</html>