<%- include('./partials/header.ejs')%> 

<main class="about-content">
    <h1>About the HELLO WORLD site.</h1>
    <br>

    <p>A festive event where knowledge meets fun. Combined with loads of technical events for gaining knowledge and non-technical events for a fun filled experience.</p>
    <br>
    <p>Checkout the Connections section to get information about the various events that are planned!</p>
</main>
<%- include('./partials/footer.ejs')%>  