<%- include('./partials/header.ejs')%> 

<main class="contact-content">
    <h1>Contact US</h1>
    <br>

    <p>Hello World team</p>
    <p><Address>436 E 36th St, Charlotte, NC-28205.</Address></p>
    <p>Phone: (980)-445-5245.</p>
</main>
<%- include('./partials/footer.ejs')%>  