
<%- include('./partials/header.ejs')%>    

    <main class="first-page-content">
        <h1>Welcome to the HELLO WORLD site.</h1>
        <br>
    
        <p>Attend the event to gain knowledge along with having fun. Combination of technical events which test your technical expertise and non-technical events where you can have fun.</p>
        <br>
        <p>Checkout the Connections section to get information about the various events that are planned!</p>
    </main>
    <%- include('./partials/footer.ejs')%>  
